// Locator Admin - Jobs Colours

$blueColor: rgb(42, 167, 217);
$greenColor: rgb(65, 191, 37);
$grayColor: rgb(148, 148, 148);
$lightGrayColor: rgb(236, 236, 236);
$orangeColor: rgb(236, 236, 236);
$redColor: #d9534f;
