.toggle-priority-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .priority-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
