.swal2-container{
    z-index: 2000;
}

.divLoader{
    height: 100vh;
    position: absolute;
    width: 97%;
    background: white;
    z-index: 300;
    opacity: 0.9;
}

.divLoader svg{
    margin: 18% 45%;
}

.table td, .table th{
    white-space: normal;
    padding: 8px 0 8px 8px;
}

span{
    word-wrap: normal;
}

.prioritycolumn{
    border-right: none !important;
    width: 1%;
}

.subnamecolumn{
    width: 20%;
    border-left: none !important;
}

.subtermcolumn{
    width: 6%;
    text-transform: capitalize;
}

.subexpirycolumn{
    width: 9%;
}

.duemonthcolumn{
    width: 4%;
}

.countcolumn{
    width: 5%;
}

.s_statuscolumn{
    width: 8%;
}

.remdatecolumn{
    width: 7%;
}

.notecolumn{
    width: 30%;
    border-right: none !important;
}

.buttoncolumn{
    width: 1%;
}

.simg{
    width: 4%;
}

.mnbuttoncolumn{
    width: 1%;
    border-left: none !important;
}

element {
    width: 100%;
    margin-bottom: 10px;

}
.react-datepicker-wrapper{
    width: 100%;
    margin-bottom: 10px;
}

.btn-warning:focus, .btn-warning.focus{
    color: #fff;
}

.redText{
    color: red;
}

.tooltip-inner {
       
    max-width: 100%;
}

.table-responsive{
    height: 80vh;
}